/*=============== PROFILE ===============*/
.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profile_container {
  row-gap: 2rem;
}

/* profile data */
.profile_data {
  display: grid;
  text-align: center;
}
.profile_border {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}
.profile_border .profile_perfil {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), var(--sat), var(--lig), 1) 0%,
    hsla(var(--hue), var(--sat), var(--lig), 0.2) 100%
  );
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_border .profile_perfil img {
  width: 75px;
}

.profile_data .profile_name {
  font-size: var(--h2-font-size);
}
.profile_data .profile_profession {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}
.profile_data .profile_social {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}
.profile_social .profile_social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.3s;
}
.profile_social-link:hover {
  color: var(--first-color);
}

/* Profile info */
.profile_info {
  grid-template-columns: repeat(3, max-content);
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}
.profile_info-group {
  text-align: center;
}
.profile_info-group .profile_info-number {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}
.profile_info-group .profile_info-description {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

/* profile buttons */
.profile_buttons,
.profile_buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_buttons {
  column-gap: 1rem;
}

.profile_buttons-small {
  column-gap: 0.25rem;
}

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.15rem 1.5rem;
  border-radius: 0.5rem;

  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button_small {
  padding: 0.75rem;
  box-shadow: none;
}

.button_gray {
  background-color: var(--text-color-lighten);
  color: var(--title-color);
}

.button_gray:hover {
  background: var(--text-color-light);
}

/* rgb */
.dark-theme .button {
  box-shadow: none;
  background: #000;
}


.dark-theme .outer {
  /* background: #111; */
  position: relative;
  height: 70px;
  width: 180px;
  border-radius: 0.5rem;
}


.dark-theme .outer .button, .outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark-theme .outer .button {
  z-index: 9;
}

.dark-theme .outer .button {
  height: 60px;
  width: 170px;
}

.dark-theme .outer span {
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 0.5rem;
}

.dark-theme .outer:hover span:nth-child(1) {
  filter: blur(7px);
}

.dark-theme .outer:hover span:nth-child(2) {
  filter: blur(14px);
}

.dark-theme .outer:hover {
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
      filter: hue-rotate(0deg);
  }
  100% {
      filter: hue-rotate(360deg)
  }
}


@media (max-width: 640px) {
  .container {
      flex-wrap: wrap;
      flex-direction: column;
  }
  
  .dark-theme .outer {
      margin: 50px 0px;
  }
}
