/*=============== FILTERS TABS ===============*/
/* Content */
.filters_content {
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.filters_content .filters_button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--text-color-lightentitle-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}
.filters_button:hover {
  background-color: var(--body-color);
}

/*=============== PROJECTS ===============*/

.projects_content .projects_card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects_card .projects_img {
  width: 100%;
  height: 100%;
}

.projects_card .projects_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), 24%, 40%, 0.3) 0%,
    hsla(var(--hue), 24%, 4%, 1) 95%
  );
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.28rem;
  transition: 0.3s;
}

.projects_modal .projects_subtitle,
.projects_modal .projects_title {
  color: #fff;
}

.projects_subtitle {
  font-size: var(--smaller-font-size);
}

.projects_title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.projects_modal .projects_button {
  padding: 0.5rem;
}

.projects_content .projects_card:hover .projects_modal {
  bottom: 0;
}

/*=============== SKILLS ===============*/
.skills_content {
  row-gap: 3.5rem;
}

.skills_title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills_content .skills_box {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skills_content .skills_box .skills_group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills_content .skills_box .skills_group .skills_data {
  display: flex;
  column-gap: 0.5rem;
}

.skills_content .skills_box .skills_group .skills_data i {
  font-size: 1rem;
  color: var(--first-color);
}

.skills_content .skills_box .skills_group .skills_data .skills_name {
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}

.skills_content .skills_box .skills_group .skills_data .skills_level {
  font-size: var(--smaller-font-size);
}

/* Hide and show projects & skills */
.filters [data-content] {
  display: none;
}

.filters_active[data-content] {
  display: grid;
}

/* Activate button filter */
.filters_content .filters_button.filter-tab-active {
  background-color: var(--body-color);
}
