.floating-card {
    /* background-color: #ffcc33; */
    border-radius: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .floating-card i {
    font-size: 35px;
    /* color: var(--primary-color); */
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .floating-card {
    animation: bounce 2s infinite;
  }

  .floating-card .loading {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    background-image: url(https://media.giphy.com/media/9NrRgni3yrzKCEBA3n/giphy.gif);
    background-size: cover;
  }