.spam_card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  user-select: none;
  z-index: 8;
  animation: bounce 2s infinite;
  /* script => animation: none; */
  /* script => animation: opacity-off 1s linear forwards; */
}

.spam_card i {
  font-size: 35px;
}

/* Bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* script => opacity-off animation*/
@keyframes opacity-off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* script => opacity-on animation*/
@keyframes opacity-on {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}


/* Gift*/
.spam_card .spam_gift {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  background-image: url(https://media.giphy.com/media/9NrRgni3yrzKCEBA3n/giphy.gif);
  background-size: cover;
  /* script => animation: fadeout 1s linear forwards; */
}

/* Gift animation */
@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
